/*  RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  BODY */
body{
    background-image: url("./imagens/people2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/*  CONTAINER */
.container{
    background-color: #5a5cc4d0;
    width: 100vw;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
/*  CONTAINER */
.content{
    background-color: #2a2948da;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}
.container .content h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.container .content p{
    font-size: 1.5rem;
    width: 60%;
    margin-bottom: 2rem;
}
.container .content a{
    text-decoration: none;
    color: white;
}
.container .content a:hover{
    color: #424392d0;
}